* {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    /* border: 1px solid red; */
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header {
    position: relative;
    width: 100vw;
    display: grid;
    place-content: center;
    height: 15vh;
    padding-top: 25px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    position: relative;
    height: 55vh;
    width: 35rem;
    padding: 20px;
    background-color: lightslategray;
    border-radius: 10px;
    overflow: hidden;
}
.score-container {
    margin: 0 auto;
    width: 325px;
    height: 40px;
    color: white;
    margin-top: 25px;
}
#score {
    text-align: center;
    font-size: 30px;
    width: 100%;
}
.score-item {
    background-color: #dd294d;
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 2.5px;
}
.user {
    width: 180px;
}
.computer {
    width: 100px;
}
.buttons {
    position: absolute;
    width: 500px;
    top: 18.5vh;
    left: 50%;
    transform: translateX(-50%);
}
.bn {
    width: 90px;
    height: 90px;
    margin: 0 36.5px;
    border: 3px solid #34495e;
    border-radius: 50%;
    color: #34495e;
    font-size: 45px;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: .1s;
}
.bn:hover {
    background-color: #34495e;
    color: white;
    border-color: white;
}
#challenge {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7rem;
    display: none;
}
.challenge-result-left {
    position: relative;
    width: 37.5%;
    font-size: 55px;
    opacity: 0;
    margin-right: 20rem;
}
.challenge-result-right {
    position: relative;
    width: 37.5%;
    font-size: 55px;
    opacity: 0;
    margin-left: 20rem;
}
.challenge-result-left.activeLeft {
    animation: slideLeft .5s ease-in-out forwards;
}
.challenge-result-right.activeRight {
    animation: slideRight .5s ease-in-out forwards;
}
@keyframes slideLeft {
    100% {
        opacity: 1;
        margin-right: 0;
    }
}
@keyframes slideRight {
    100% {
        opacity: 1;
        margin-left: 0;
    }
}
#result {
    font-size: 28.5px;
    font-weight: 700;
    width: 300px;
}
.challenge-result-left p,
.challenge-result-right p {
    text-align: center;
    font-size: 18px;
    margin: .5rem 0 0;
}
#footer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    color: #222;
    transform: translateX(-50%);
    font-size: 1.25rem;
    text-align: center;
}
#footer a {
    color: #222;
    cursor: pointer;
    font-size: 1.25rem;
}
#resetScoreButton {
    box-sizing: border-box;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: .25rem .75rem .35rem;
    border-radius: .5rem;
    border: 1px solid #fff;
    outline: none;
    font-size: .85rem;
    font-weight: 600;
    line-height: 1.65;
    background-color: #c13551;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#resetScoreButton:hover {
    box-shadow: none;
}
#title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    width: fit-content;
    color: rgba(34, 34, 34, 0.75);
    text-align: center;
}

@media (max-width: 625px) {
    html {
        font-size: 75%;
    }
    .buttons {
        position: absolute;
        width: 500px;
        top: 18.5vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .bn {
        width: 75px;
        height: 75px;
        margin: 0 20px;
        border: 3px solid #34495e;
        border-radius: 50%;
        color: #34495e;
        font-size: 40px;
        background-color: white;
        cursor: pointer;
        outline: none;
        transition: .1s;
    }
    #responseIcon {
        font-size: 3.5rem;
    }
    #result {
        font-size: 22.5px;
        width: 250px;
    }
}
@media (max-width: 480px) {
    html {
        font-size: 62.5%;
    }
    .buttons {
        position: absolute;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bn {
        width: 60px;
        height: 60px;
        font-size: 35px;
        text-align: center;
    }
    #responseIcon {
        font-size: 3.5rem;
    }
    #result {
        font-size: 20px;
        width: 175px;
    }
    #challenge {
        bottom: 10rem;
    }
    #resetScoreButton {
        bottom: 2.5rem;
        font-size: 1.25rem;
    }
    .container {
        margin-top: 3.5rem;
        height: 48.5vh;
        width: 32.5rem;
    }
    #footer {
        bottom: 6.5rem;
        font-size: 1.5rem;
    }
}
